.product-card {
  position: relative;
  display: grid;
  grid-template-rows: 13fr 1fr 1fr 1fr;
  margin: 5px;
  height: fit-content;
  width: 275px;
  height: 550px;
  cursor: pointer;
  transition: transform .15s ease-in;
  &:hover {
    .add-to-bucket-button {
      opacity: 1;
    }
    transform: scale(1.05);
    transition: transform .15s ease-in;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

    & .add-to-bucket {
      span {
        opacity: 1;
      }
    }
  }
  & img {
    align-self: center;
    justify-self: center;
  }
  &-text-block {
    cursor: pointer;
    display: flex;
    flex-flow: column nowrap;
    &-tag {
      cursor: pointer;
      font-family: "SF-Pro-Display-Regular";
      text-align: center;
      font-size: 1.4rem;
      font-weight: 400;
    }
    &-price {
      text-align: center;
      font-family: "SF-Pro-Display-Regular_light";
      color: #454545;
      padding-top: 10px;
      font-size: 1.2rem;
      letter-spacing: 1px;
      &-block {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        gap: 15px;
      }
    }
    &-tile {
      position:absolute;
      top:5px;
      left:5px;
      width:80px;
      height:30px;
      text-align:center;
      line-height: 30px;
      font-family: "SF-Pro-Display-Regular_light";
      font-weight: 100;
      border-radius: 5px;
      background-color:#8a6cff;
      color:white
    }
  }
}

.information-title {
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;


  & strong {
      font-family: "SF-Pro-Display-Regular";
      font-weight: 900;
      font-size: 1rem;
      letter-spacing: 1px;
  }

  & span {
      font-family: "SF-Pro-Display-Regular_light";
      font-size: .8rem;
      letter-spacing: 1px;
  }
}

.add-to-bucket {
  position: relative;
  overflow: hidden;
  height: 60px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin-top: 2%;
  &-button {
    position: relative;
    text-align: center;
    font-size: 1rem;
    opacity: 0;
    font-family: 'Montserrat-Regular';
    height: 40px;
    width: 60%;
    border-radius: 10px;
    background-color: black;
    color: #f5f5f7;
    transition: background-color .15s ease-in-out;

    &:hover {
      background-color: #4B4B4B;
      transition: background-color .15s ease-in-out;

      & label {
        color: white;
      }
    }

  }

  & span {
    opacity: 0;
    line-height: 38px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1rem;
    font-family: 'Montserrat-Regular';
    height: 40px;
    width: 60%;
    text-align: center;
  }
}

.discount {
  font-size: 1rem !important;
  opacity: 0.5;
  text-decoration: line-through;
}

.disabled {
  opacity: 0.5;
  cursor: default;
}

@media (max-width: 1024px) {
  .product-card {
    position: relative;
    display: grid;
    grid-template-rows: 8fr 1fr 1fr;
    padding: 0px 10px;
    height: fit-content;
    width: 190px;
    height: 350px;
    gap: 5px;
    cursor: pointer;

    & img {
      align-self: center;
      justify-self: center;
    }

    &-text-block {
      display: flex;
      flex-flow: column nowrap;
      padding-top: 1%;

      &-tag {
        font-family: "SF-Pro-Display-Regular";
        text-align: center;
        font-size: 1.1rem;
        letter-spacing: 1px;
      }

      &-price {
        text-align: center;
        font-family: "SF-Pro-Display-Regular";
        font-size: 1rem;
        font-weight: 600;
        &-block {
          display: flex;
          flex-flow: column nowrap;
          gap: 0px;
          padding-top: 1%;
        }
      }

      &-tile {
        position: absolute;
        top: 0%;
        left: 0px;
        width: 65px;
        height: 27px;
        text-align: center;
        line-height: 27px;
        font-family: "SF-Pro-Display-Regular_light";
        font-size: .9rem;
        font-weight: 100;
        border-radius: 5px;
        background-color: rgb(183, 167, 245);
        color: white
      }
    }
  }
}