.product {
    &-container {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-items: center;
        gap: 10px;
        padding: 5% 0%;
        & h4 {
            font-family: "SF-Pro-Display-Regular";
            font-size: 2.4rem;
            padding-right: 50%;
            cursor: auto;
        }
    }
}

@media (max-width: 1024px) {
    .product-container {
        padding-top: 17%;
        &-header {
            padding-left: 4.5%;
        }
    }

    .categories-and-sort-block {
        margin-left: 5%;
    }
}