.form-container {
  padding: 10%;
}

.button-block {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.content-block {
  margin-top: 3%;
}

.alarm {
  font-weight: 700;
  font-size: .8rem;
}

.waitting {
  margin-top: 2%;
  display: block;
  font-size: .8rem;
  opacity: 0.9;
}