.slider-search-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    cursor: pointer;

    & img {
        width: 90px;
    }

    &-info {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;

        & span {
            font-family: "SF-Pro-Display-Regular";
            max-width: 260px;
        }

        & strong {
            font-family: "SF-Pro-Display-Heavy";
            font-weight: 100;
        }
    }
}

@media (max-width: 1024px) {
    .slider-search-card {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: 10px;

        & img {
            width: 70px;
        }
    }
}