.product {
  &-container {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-items: center;
    gap: 10px;
    padding: 5% 0%;

    &-header {
      align-self: flex-start;
      padding-left: 22%;
      display: flex;
      flex-flow: row nowrap;
      gap: 25px;
      & i {
        padding-top: 22px;
        cursor: pointer;
        &:hover {
          color: #87a08b;
        }
      }
      & h4 {
        font-family: "SF-Pro-Display-Regular";
        font-size: 2.4rem;
      }
    }
  }
}

.categories-and-sort-block:has(:only-child) {
  padding-left: 19%;
  width: 100%;
}

@media (max-width: 1024px) {
  .product-container {
    padding-top: 17%;
    &-header {
      padding-left: 4%;
    }
  }

  .categories-and-sort-block {
    padding-left: 1%;
  }
}